<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sanjeevani-EHR</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <script src="js/sanjeevani-ehr/constants.js"></script>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  
</head>

<body id="page-top" class="index" >

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <table>
                    <tr>
                        <td>
                            <img style="height:30px;width:50px;"src="images/logo.png">
                        </td>
                        <td>
                            <a class="navbar-brand" href="#page-top">Sanjeevani-EHR</a> 
                        </td>
                    </tr>
                </table>
               
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-responsive" src="" alt="">
                    <div class="intro-text">
                        <span class="name">Welecome to Sanjeevani-EHR</span>
                        <hr class="star-light">
                        <span class="skills"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="login" ng-app="">
                  <form NAME="myform" ACTION="" METHOD="POST" id="Form">
                    <div class="" ng-hide="showme">
                          <p style="color:#2C3E50;">Welcome to Login</p>
                          <hr>
                          <input type="text" name="Id" placeholder="Email *" id="Id" class="form-control" maxlength=100 size=40>
                          <br>
                          <input type="password" name="Passcode" placeholder="password *" id="Passcode" class="form-control" maxlength=100 size=30>
                          <br>
                          <input type="hidden" name="sessionToken"" id="sessionToken"" value=-1 maxlength=100 size=40>    
                          
                          <div id="resultlogin"></div>  
                    </div>
                    <div ng-show="showme"> 
                      <p style="color:#2C3E50;">Welcome to Registration</p>
                             <hr>
                            <input type="text" placeholder="First Name" id="firstname" class="form-control" name="Firstname" style="color:black"><br>
                            <input type="text" placeholder="Last Name" id="lastname" class="form-control" name="Last Name" style="color:black"><br>
                            <input type="text" placeholder="email" id="email" class="form-control" name="user" style="color:black"><br>
                            <input type="password" placeholder="password" id="password" class="form-control" name="password" style="color:black"><br>
                        
                            <input type="password" placeholder="Re-enter password" class="form-control" id="confirmpassword" name="re-enterpassword" style="color:black"><br>
                         
                           <select class="form-control" id='SecurityQuestion'>
                                <option selected='selected'>Select a security question(select one):</option>
                                <option value='1' >What is the name of your first school?</option>
                                <option value='2'>Where is your favorite vacation spot?</option>
                                <option value='3'>What is your mother's maiden name?</option>
                                <option value='4'>What is your first pet's name?</option>
                                <option value='5'>What is the first car you owned?</option>
                                <option value='6'>What is the name of your favorite restaurant?</option>
                                <option value='7'>What is your paternal grandfather's first name?</option>
                                <option value='8'>What is your father's middle name?</option>
                                <option value='9'>What is the city of your first school?</option>
                                <option value='10'>What is the name of the street on which you lived when you were 5 years old?</option>
                           </select><br>
                           <input type="text" name="SecurityQuestionAnswer" id="SecurityQuestionAnswer" placeholder="Enter answer" maxlength=100 size=30 style="color:black" class="form-control" ><br>
                          <button type="button" class="btn btn-primary" onclick="Signup(this.form);return false;">Register</button>
                          <button href="" class="btn btn-primary" ng-click="showme=false" >Login</button>

                          <div id="result"></div>
                    </div>
                    <button href="" class="btn btn-primary" onclick="Login();" ng-click="showme=false" ng-hide="showme">Login</button>
                    <button ng-click="showme=true"  class="btn btn-primary" ng-hide="showme">register</button> 
                  </form>
                  </div>
                </div>
             </div>
       </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright @ Sanjeevani-Ehr 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    
    <!-- Plugin JavaScript -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js'></script>

</body>

</html>
