<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sanjeevani-EHR</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <script src="js/sanjeevani-ehr/constants.js"></script>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <script type="text/javascript">
     var DebugOn=false;
        
        function postRequest(baseAddr,strURL,strJSON,strDestinationPage) {        
            // Create xmlHTTP Ajax Object
            var xmlHttp;
            if(DebugOn == true) alert(strURL);
            if(DebugOn == true) alert(strJSON);
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
                 var xmlHttp = new XMLHttpRequest();
            }else if (window.ActiveXObject) { // IE
                 var xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            if(DebugOn == true) alert("1");
            // Set POST 
            xmlHttp.open("POST", strURL, true);
            // Set Application Content Type
            if(DebugOn == true) alert("2");
            xmlHttp.setRequestHeader("Content-Type","application/json");
            if(DebugOn == true) alert("3");
            // xmlHttp.setRequestHeader("Content-length", strJSON.length);
            if(DebugOn == true) alert("4");
             // xmlHttp.setRequestHeader("Connection", "close");
            if(DebugOn == true) alert("5");
            
           xmlHttp.onreadystatechange = function()
           {
                if (xmlHttp.readyState != 4) 
                    {
                        return true;
                    }
                if (xmlHttp.status != 200 && xmlHttp.status != 304) {                   
                    return;
                } 
                if(DebugOn == true) alert(xmlHttp.responseText);
                
                var obj = JSON.parse(xmlHttp.responseText);
                if(DebugOn == true) alert('obj.returnCode');
                if(DebugOn == true) alert(xmlHttp.responseText);
                if(DebugOn == true) alert(obj.returnCode);
                if(DebugOn == true) alert(obj.sessionToken);
                
                if(obj.returnCode =='SUCCESS'){
                    if(DebugOn == true) alert('That worked!');
                    if(DebugOn == true) alert(document.getElementById("sessionToken").value);
                    document.getElementById("sessionToken").value=obj.sessionToken;
                    if(DebugOn == true) alert(document.getElementById("sessionToken").value);
                    
                    if(obj.user_type == ___PROVIDER___)
                        window.location = baseAddr+"/" + ___LANDINGPAGE_PROVIDER___ +'?sessionToken=' + obj.sessionToken + '&Status=' + obj.returnCode;
                    else
                        window.location = baseAddr+"/" + ___LANDINGPAGE_INDIVIDUAL___ +'?sessionToken=' + obj.sessionToken + '&Status=' + obj.returnCode;
                    return true;
                    }else{
                        if(DebugOn == true) alert('That didn\'t work!');
                        updatepageLogin(obj.returnCode);
                        return false;
                    }
            }
            if(DebugOn == true) alert(strJSON);
            xmlHttp.send(strJSON);
            if(DebugOn == true) alert('after send');
        }

        function updatepage(str){
                    document.getElementById("Form").reset();
          document.getElementById("result").innerHTML =     "<font color='red' size='5'>" + "Please Try Again" + "</font>";;
        }

        function updatepageLogin(str){
          document.getElementById("Form").reset();
          document.getElementById("resultlogin").innerHTML =     "<font color='red' size='5'>" + "Please Provide Valid Credentials" + "</font>";;
        }

        // Function Hander for LogIn Click event
        function Login()
        {
            if(DebugOn == true) alert('process login');
            // Get base address of the Server 
            var base_addr=window.document.myform.action.replace("/Thanks.html","");
            if(DebugOn == true) alert(base_addr);
            var url=___CLOUD_REST_END_POINT___ + "/rest/SV/login";
            if(DebugOn == true) alert(url);
            var username=window.document.myform.Id.value;
            var pass=window.document.myform.Passcode.value;
            
            var data={};
            data.username=window.document.myform.Id.value;
            data.userpass=window.document.myform.Passcode.value;
            
            var strJSON = JSON.stringify(data);
            if(DebugOn == true) alert(strJSON);
            var result = postRequest(base_addr,url,strJSON,"LandingPage.html");
        }
        
       
    function AlertMessage() {
        alert('Thanks for your interest. \n\nWe are in the process of releasing our website for open registration. \n\nPlease visit us soon as we are waiting for HIPAA & Other formal approvals. \n\n Thanks!');
    }

       function showRecaptcha(element) {
           Recaptcha.create("6LfN7OESAAAAAMw00ghk_OzUuqIYT453kcHvR6hM", element, {
             theme: "white",
             callback: Recaptcha.focus_response_field});
         }
     
    function checkCaptcha()
     {

      if(DebugOn == true) alert("1");
      // Create xmlHTTP Ajax Object
      var xmlHttp;
      
      if (window.XMLHttpRequest) { // Mozilla, Safari, ...
             var xmlHttp = new XMLHttpRequest();
          }else if (window.ActiveXObject) { // IE
             var xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
          }
      
    
      if(DebugOn == true) alert("2");
      var url="http://www.sanjeevani-ehr.com/verify.php";
      if(DebugOn == true) alert("3");
      xmlHttp.open("POST",url,true);
      if(DebugOn == true) alert("4");
      xmlHttp.setRequestHeader("content-type", "application/x-www-form-urlencoded");
      xmlHttp.onreadystatechange = function()
      {
        if (xmlHttp.readyState== 4 || xmlHttp.readyState=="complete")
        {
          if (xmlHttp.status != 200 && x.status != 304) {               
            return;
          }
        
          if(DebugOn == true) alert('onreadystatechange');
          alert(xmlHttp.readyState);
     
          if(xmlHttp.responseText=='Successful')
          {
            alert(xmlHttp.responseText);
          }
          else
          {
           if(DebugOn == true) alert(xmlHttp.responseText);
          }
        }
    }
    if(DebugOn == true) alert('before send');
    var sendArgs = "recaptcha_challenge_field=" + Recaptcha.get_challenge() +"&recaptcha_response_field="+ Recaptcha.get_response();
    if(DebugOn == true) alert(sendArgs);
      xmlHttp.send(sendArgs);
    if(DebugOn == true) alert('after send');
    }
    
    
        
        function postRegister(callFrom,baseAddr,strURL,strJSON,strDestinationPage) {        
        // Create xmlHTTP Ajax Object
            var xmlHttp;
            //alert(baseAddr);
            
            if(DebugOn == true) alert(strURL);
            if(DebugOn == true) alert(strJSON);
      
            if (window.XMLHttpRequest) { // Mozilla, Safari, ...
             var xmlHttp = new XMLHttpRequest();
          }else if (window.ActiveXObject) { // IE
             var xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");
          }
          if(DebugOn == true) alert("1");
          // Set POST 
        xmlHttp.open("POST", strURL, true);
        // Set Application Content Type
      
      xmlHttp.setRequestHeader("Content-Type","application/json");
      
     
       xmlHttp.onreadystatechange = function()
       {
            if (xmlHttp.readyState != 4) 
              {
                return true;
              }
            if (xmlHttp.status != 200 && x.status != 304) {               
                return;
            }
        //alert('almost there');
        if(DebugOn == true) alert(xmlHttp.responseText);
            var obj = JSON.parse(xmlHttp.responseText);
            if(DebugOn == true) alert('obj.returnCode');
            if(DebugOn == true) alert(obj.returnCode);
            
            if(obj.returnCode =='SUCCESS'){
                  if(DebugOn == true) alert('That worked!');
            if(callFrom == 'signup')
            {
              if(DebugOn == true) alert('obj.ActivationLinkCode');
              var activation_code = obj.ActivationLinkCode;
              if(DebugOn == true) alert(activation_code);
              if(DebugOn == true) alert(activation_code);
              if(activation_code != null)
              {
              
                // now, send email
                if(DebugOn == true) alert('sending activation email');
                // sendActivationEmail(obj.Email,obj.EMRN,activation_code,obj.FName,obj.LName);
              }
            }
            else
            {
              // Do Nothing
            }
                  window.location = baseAddr+"/" + strDestinationPage;
                  return true;
              }else{
                if(DebugOn == true) alert('That didn\'t work!');
                updatepage(obj.returnCode);
                return false;
          }
        
    }
        if(DebugOn == true) alert(strJSON);
        xmlHttp.send(strJSON);
        if(DebugOn == true) alert('after send');
        
        }
        





      function Signup(form)
        {
           var base_addr = ___CLOUD_REST_END_POINT___;
           var url=___CLOUD_REST_END_POINT___ + "/rest/SV/register";
      if( document.myform.firstname.value == "" )
         {
            alert( "Please provide your Firstname!" );
            document.myform.firstname.focus() ;
            return false;
         }

         else

         if( document.myform.lastname.value == "" )
         {
            alert( "Please provide your Lastname!" );
            document.myform.lastname.focus() ;
            return false;
         }

         else
         
         if( validateEmail(myform.email.value) == false)
         {
            alert( " Enter valid Email address!");
            document.myForm.email.focus() ;
            return false;
         }

         else

         if( document.myform.password.value == "" )
         {

      
            alert( "Please provide your password!" );
            document.myForm.password.focus() ;
            return false;
         }
         else
         if(myform.password.value.length < 8) {
      alert("Password must contain at least eight characters!");
      myform.password.focus();
      return false;
      }
else
  var re = /^\w+$/;
     
      re = /[0-9]/;
   
      if(!re.test(myform.password.value)) {
      alert("password must contain at least one number (0-9)!");
      frmSignUp.password.focus();
      return false;
      }
      else
     
      re = /[a-z]/;
      if(!re.test(myform.password.value)) {
      alert("Error: password must contain at least one lowercase letter (a-z)!");
      frmSignUp.password.focus();
      return false;
      }
      else
      re = /[A-Z]/;
      if(!re.test(myform.password.value)) {
      alert(" password must contain at least one uppercase letter (A-Z)!");
      frmSignUp.password.focus();
      return false;
      }
else

 if( document.myform.password.value != document.myform.confirmpassword.value )
         {
            alert( "Please re-enter the same Password" );
            document.myForm.password.focus() ;
            return false;
         }
         else
 if( document.myform.SecurityQuestion.value == "" )
         {
            alert( "Please Select a Security Question!" );
            document.myForm.SecurityQuestion.focus() ;
            return false;
         }
         else
          if( document.myform.SecurityQuestionAnswer.value == "" )
         {
            alert( "Please provide your Security Question Answer!" );
            document.myForm.SecurityQuestionAnswer.focus() ;
            return false;
         }

         else
         {

var data={};
         data.firstname= document.myform.firstname.value;
         data.lastname=document.myform.lastname.value;
        data.userpass=document.myform.password.value;
        data.useremail=document.myform.email.value;
        data.securityQuestion= returnSecurityQuestion(myform.SecurityQuestion.value);
        data.securityAnswer= document.myform.SecurityQuestionAnswer.value;
        data.base_addr=base_addr;
        data.usertype="individual"
var strJSON = JSON.stringify(data);  

             var result = postRegister('signup',base_addr,url,strJSON,"RegistrationComplete.html");
       
}

       }
  
        function returnSecurityQuestion(SecurityQuestionValue) {
  if(SecurityQuestionValue == "1")
    return "What is the name of your first school?";
  else if(SecurityQuestionValue == "2")
    return "Where is your favorite vacation spot?";
  else if(SecurityQuestionValue == "3")
    return "What is your mother''s maiden name?";
  else if(SecurityQuestionValue == "4")
    return "What is your first pet''s name?";
  else if(SecurityQuestionValue == "5")
    return "What is the first car you owned?";
  else if(SecurityQuestionValue == "6")
    return "What is the name of your favorite restaurant?";
  else if(SecurityQuestionValue == "7")
    return "What is your paternal grandfather''s first name?";
  else if(SecurityQuestionValue == "8")
    return "What is your father''s middle name?";
  else if(SecurityQuestionValue == "9")
    return "What is the city of your first school?";
  else if(SecurityQuestionValue == "10")
    return "What is the name of the street on which you lived when you were 5 years old?";
  else
    return "";
  }
  
  function validateEmail(email) { 
    var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(email);
} 

 
  </script>
</head>

<body id="page-top" class="index" >

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <table>
                    <tr>
                        <td>
                            <img style="height:30px;width:50px;"src="images/logo.png">
                        </td>
                        <td>
                            <a class="navbar-brand" href="#page-top">Sanjeevani-EHR</a> 
                        </td>
                    </tr>
                </table>
               
               
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <img class="img-responsive" src="" alt="">
                    <div class="intro-text">
                        <span class="name">Welecome to Sanjeevani-EHR</span>
                        <hr class="star-light">
                        <span class="skills"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                  <div class="login" ng-app="">
                  <form NAME="myform" ACTION="" METHOD="POST" id="Form">
                    <div class="" ng-hide="showme">
                          <p style="color:#2C3E50;">Welcome to Login</p>
                          <hr>
                          <input type="text" name="Id" placeholder="Email *" id="Id" class="form-control" maxlength=100 size=40>
                          <br>
                          <input type="password" name="Passcode" placeholder="password *" id="Passcode" class="form-control" maxlength=100 size=30>
                          <br>
                          <input type="hidden" name="sessionToken"" id="sessionToken"" value=-1 maxlength=100 size=40>    
                          
                          <div id="resultlogin"></div>  
                    </div>
                    <div ng-show="showme"> 
                      <p style="color:#2C3E50;">Welcome to Registration</p>
                             <hr>
                            <input type="text" placeholder="First Name" id="firstname" class="form-control" name="Firstname" style="color:black"><br>
                            <input type="text" placeholder="Last Name" id="lastname" class="form-control" name="Last Name" style="color:black"><br>
                            <input type="text" placeholder="email" id="email" class="form-control" name="user" style="color:black"><br>
                            <input type="password" placeholder="password" id="password" class="form-control" name="password" style="color:black"><br>
                        
                            <input type="password" placeholder="Re-enter password" class="form-control" id="confirmpassword" name="re-enterpassword" style="color:black"><br>
                         
                           <select class="form-control" id='SecurityQuestion'>
                                <option selected='selected'>Select a security question(select one):</option>
                                <option value='1' >What is the name of your first school?</option>
                                <option value='2'>Where is your favorite vacation spot?</option>
                                <option value='3'>What is your mother's maiden name?</option>
                                <option value='4'>What is your first pet's name?</option>
                                <option value='5'>What is the first car you owned?</option>
                                <option value='6'>What is the name of your favorite restaurant?</option>
                                <option value='7'>What is your paternal grandfather's first name?</option>
                                <option value='8'>What is your father's middle name?</option>
                                <option value='9'>What is the city of your first school?</option>
                                <option value='10'>What is the name of the street on which you lived when you were 5 years old?</option>
                           </select><br>
                           <input type="text" name="SecurityQuestionAnswer" id="SecurityQuestionAnswer" placeholder="Enter answer" maxlength=100 size=30 style="color:black" class="form-control" ><br>
                          <button type="button" class="btn btn-primary" onclick="Signup(this.form);return false;">Register</button>
                          <button href="" class="btn btn-primary" ng-click="showme=false" >Login</button>

                          <div id="result"></div>
                    </div>
                    <button href="" class="btn btn-primary" onclick="Login();" ng-click="showme=false" ng-hide="showme">Login</button>
                    <button ng-click="showme=true"  class="btn btn-primary" ng-hide="showme">register</button> 
                  </form>
                  </div>
                </div>
             </div>
       </div>
    </header>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright @ Sanjeevani-Ehr 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    
    <!-- Plugin JavaScript -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.5/angular.min.js'></script>

</body>

</html>
